@tailwind base;

.landing-bg{

    /* https://www.svgbackgrounds.com/#pattern-randomized */

    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='90' height='45' viewBox='0 0 90 45'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.09' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ffffff' stroke-width='0.09'%3E%3Crect fill='%23fafafa' width='1' height='1'/%3E%3Crect fill='%23ffffff' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23f5f5f5' width='1' height='1' y='1'/%3E%3Crect fill='%23f0f0f0' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ebebeb'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ffffff'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23000000'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23000000'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='90' height='45'/%3E%3Crect fill='url(%23b)' width='90' height='45'/%3E%3Crect fill='url(%23c)' width='90' height='45'/%3E%3Crect fill='url(%23d)' width='90' height='45'/%3E%3Crect fill='url(%23e)' width='90' height='45'/%3E%3Crect fill='url(%23f)' width='90' height='45'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.textshadow {
    color: #FFFFFF;
    text-shadow: #474747 3px 5px 2px;
}

.ceramicpro-bg {
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.1)), 
    url('../assets/img/ceramic.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.1)), 
    url('../assets/img/ceramic.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: 50%!important
}

.tinting-bg {
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/tint.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/tint.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: 50%!important
}

.washing-bg {
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/washing-card.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/washing-card.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: 50%!important
}

.paintcorrection-bg {
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/911.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/911.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: 50%!important
}

.detailing-services-bg {
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/red.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/red.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: 50%!important
}


.tint-bg {
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.svc-bg {
    background-color: #000000;
    background-image: linear-gradient(45deg, #000000 0%, #7f8c8d 74%);
}

.platinum-bg {

    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjOWZhNmIyIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzhmOTVhMCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzdmODU4ZSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
 
}

.major-bg {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cGF0aCBkPSJNLTIgMTBMMTAgLTJaTTEwIDZMNiAxMFpNLTIgMkwyIC0yIiBzdHJva2U9IiMxYzY0ZjIiIHN0cm9rZS13aWR0aD0iNC41Ij48L3BhdGg+Cjwvc3ZnPg=="),url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2MDkzZjYiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThmMGZlIj48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+");

}

.gold-bg {
    background:
    radial-gradient(#c27803 15%, transparent 16%) 0 0,
    radial-gradient(#c27803 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

}

.audi  {
    background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #b82e1f 74%);
}

.bg-slight-ocean-view {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.very-blue {
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dark-ocean {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.suntek-bg {
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/la-ferrari.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/la-ferrari.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: 50%!important
}

.ceramic-bg {
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/p1.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/p1.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: 50%!important
}

.carbon-bg {
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/918.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/918.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: 50%!important
}


.video-section {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.video-footer-section {
	position: relative;
	height: 30vh;
	overflow: hidden;
}

.video-object {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#herotext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	text-shadow: 0 0 1em rgba(255, 255, 255, 1);
	text-align: center;
}

.card {
    background: black;
    overflow: hidden;
    background: #e3a008;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/audia6_red.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/audia6_red.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position:50%!important
             

}


.card-2 {
    background: black;
    overflow: hidden;
    background: #e3a008;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/audiq8_2.jpg');
    background: linear-gradient(#000000, rgba(0, 0, 0, 0.25)), 
    url('../assets/img/audiq8_2.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position:50%!important
}

.card-3 {
    background: black;
    overflow: hidden;
    background: #e3a008;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#16262E, rgba(0, 0, 0, 0.1)), 
    url('../assets/img/corvette.jpg');
    background: linear-gradient(#16262E, rgba(0, 0, 0, 0.1)), 
    url('../assets/img/corvette.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position:50%!important
}


.card-4 {
    background: black;
    overflow: hidden;
    background: #e3a008;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#16262E, rgba(0, 0, 0, 0.35)), 
    url('../assets/img/bmwx7.jpg');
    background: linear-gradient(#16262E, rgba(0, 0, 0, 0.35)), 
    url('../assets/img/bmwx7.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position:50%!important
}

.card-5 {
    background: black;
    overflow: hidden;
    background: #e3a008;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#001a8d, rgba(36, 36, 36, 0.5)), 
    url('../assets/img/amg_gt.jpg');
    
    background: linear-gradient(#001a8d, rgba(36, 36, 36, 0.5)), 
    url('../assets/img/amg_gt.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position:50%!important
}

.card-6 {
    background: black;
    overflow: hidden;
    background: #01172F;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#01172F, rgba(0, 0, 0, 0.2)), 
    url('../assets/img/rr_cullinan.jpg');
    background: linear-gradient(#01172F, rgba(0, 0, 0, 0.2)), 
    url('../assets/img/rr_cullinan.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position:50%!important
}

.card-7 {
    background: black;
    overflow: hidden;
    background: #e3a008;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#1a0f00, rgba(0, 0, 0, 0.2)), 
    url('../assets/img/leatherconditioning.jpg');
    background: linear-gradient(#1a0f00, rgba(0, 0, 0, 0.2)), 
    url('../assets/img/leatherconditioning.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position:50%!important
}

.card-8 {
    background: black;
    overflow: hidden;
    background: #e3a008;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(#01172F, rgba(0, 0, 0, 0.2)), 
    url('../assets/img/rr.jpg');
    background: linear-gradient(#01172F, rgba(0, 0, 0, 0.2)), 
    url('../assets/img/rr.jpg'); /* The least supported option. */
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position:50%!important
}


img {
   object-fit: cover;
}


.linear {
    background-image: url("https://images.unsplash.com/photo-1520340356584-f9917d1eea6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(black 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .scrim {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 1)), color-stop(19%, rgba(0,0,0, 0.738)), color-stop(34%, rgba(0,0,0, 0.541)), color-stop(47%, rgba(0,0,0, 0.382)), color-stop(56.5%, rgba(0,0,0, 0.278)), color-stop(65%, rgba(0,0,0, 0.194)), color-stop(73%, rgba(0,0,0, 0.126)), color-stop(80.2%, rgba(0,0,0, 0.075)), color-stop(86.1%, rgba(0,0,0, 0.042)), color-stop(91%, rgba(0,0,0, 0.021)), color-stop(95.2%, rgba(0,0,0, 0.008)), color-stop(98.2%, rgba(0,0,0, 0.002)), to(rgba(0,0,0, 0)));
    background: linear-gradient(rgba(0,0,0, 1) 0%, rgba(0,0,0, 0.738) 19%, rgba(0,0,0, 0.541) 34%, rgba(0,0,0, 0.382) 47%, rgba(0,0,0, 0.278) 56.5%, rgba(0,0,0, 0.194) 65%, rgba(0,0,0, 0.126) 73%, rgba(0,0,0, 0.075) 80.2%, rgba(0,0,0, 0.042) 86.1%, rgba(0,0,0, 0.021) 91%, rgba(0,0,0, 0.008) 95.2%, rgba(0,0,0, 0.002) 98.2%, rgba(0,0,0, 0) 100%);
  }
  
  .ease {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 1)), color-stop(5.3%, rgba(0,0,0, 0.917)), color-stop(10.6%, rgba(0,0,0, 0.834)), color-stop(15.9%, rgba(0,0,0, 0.753)), color-stop(21.3%, rgba(0,0,0, 0.672)), color-stop(26.8%, rgba(0,0,0, 0.591)), color-stop(32.5%, rgba(0,0,0, 0.511)), color-stop(38.4%, rgba(0,0,0, 0.433)), color-stop(44.5%, rgba(0,0,0, 0.357)), color-stop(50.9%, rgba(0,0,0, 0.283)), color-stop(57.7%, rgba(0,0,0, 0.213)), color-stop(65%, rgba(0,0,0, 0.147)), color-stop(72.9%, rgba(0,0,0, 0.089)), color-stop(81.4%, rgba(0,0,0, 0.042)), color-stop(90.6%, rgba(0,0,0, 0.011)), to(rgba(0,0,0, 0)));
    background: linear-gradient(rgba(0,0,0, 1) 0%, rgba(0,0,0, 0.917) 5.3%, rgba(0,0,0, 0.834) 10.6%, rgba(0,0,0, 0.753) 15.9%, rgba(0,0,0, 0.672) 21.3%, rgba(0,0,0, 0.591) 26.8%, rgba(0,0,0, 0.511) 32.5%, rgba(0,0,0, 0.433) 38.4%, rgba(0,0,0, 0.357) 44.5%, rgba(0,0,0, 0.283) 50.9%, rgba(0,0,0, 0.213) 57.7%, rgba(0,0,0, 0.147) 65%, rgba(0,0,0, 0.089) 72.9%, rgba(0,0,0, 0.042) 81.4%, rgba(0,0,0, 0.011) 90.6%, rgba(0,0,0, 0) 100%);
  }
  
  /* ------------------------------ */


  




/* .card-bg-1:before {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    background: rgba(90, 93, 165, .8);
    background: linear-gradient(to bottom, rgba(90, 93, 165, 1), rgba(0, 0, 0, .7))
  } */




@tailwind components;
@tailwind utilities;

